In [110]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV

In [10]:
import pandas as pd
import matplotlib
from sklearn.neighbors import KNeighborsClassifier
matplotlib.use('Agg')
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
ir = sns.load_dataset('iris')

data = ir.drop('species' , axis =1)
data = pd.get_dummies(data)

data['species'] = ir['species']
train, test = train_test_split(data, test_size=0.3,
                               random_state=100)
train_x = train.drop('species', axis=1)
train_y = train['species']
test_x = test.drop('species', axis=1)
test_y = test['species']

model_k = KNeighborsClassifier(n_neighbors = 5)
model_k.fit(train_x , train_y)
pred_class = model_k.predict(test_x)
a = pd.DataFrame()
a['Id'] = pd.Series(test_x.index)
a['Species'] = pd.Series(pred_class)
a

     Id     Species
0   128   virginica
1    11      setosa
2   118   virginica
3    15      setosa
4   123   virginica
5   135   virginica
6    32      setosa
7     1      setosa
8   116   virginica
9    45      setosa
10   40      setosa
11  115   virginica
12   26      setosa
13   28      setosa
14  145   virginica
15   97  versicolor
16   62  versicolor
17   77  versicolor
18  122   virginica
19  112   virginica
20  125   virginica
21   31      setosa
22  146   virginica
23   29      setosa
24   69  versicolor
25  149   virginica
26   75  versicolor
27   20      setosa
28   73  versicolor
29  120   virginica
30   81  versicolor
31   99  versicolor
32  119  versicolor
33   12      setosa
34   16      setosa
35   51  versicolor
36   46      setosa
37   89  versicolor
38  136   virginica
39  114   virginica
40   41      setosa
41   90  versicolor
42  102   virginica
43  109   virginica
44   37      setosa

In [54]:
import pandas as pd
import matplotlib
matplotlib.use('Agg')
import matplotlib.pyplot as plt

# [Example] Read datasets
train_x = pd.DataFrame()
train_x['X1'] =pd.Series([7,7,3,1])
train_x['X2']= pd.Series([7,4,4,4])
Class = pd.Series(['Fail','Fail','Pass','Pass'])
train_y = pd.DataFrame(Class)
test_x = pd.DataFrame()
test_x['X1'] = pd.Series(3)
test_x['X2'] = pd.Series(4)
from sklearn.neighbors import KNeighborsClassifier
model_k = KNeighborsClassifier(n_neighbors = 3)
model_k.fit(train_x , train_y)
pred_class = model_k.predict(test_x)
iris_pred = pd.DataFrame(pred_class)

a = iris_pred[0][0]
type(a)

C:\Users\Administrator\Anaconda3\lib\site-packages\ipykernel_launcher.py:17: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

str

In [55]:
iris_pred[0] ="'" + str(iris_pred[0][0]) + "'"
iris_pred

        0
0  'Pass'

In [43]:
a

'Pass'

In [38]:
iris_pred

      0
0  Pass

In [39]:
type(iris_pred)

pandas.core.frame.DataFrame

In [56]:
iris_pred.to_csv("output.csv",index=None, header = False)

In [127]:
# Import libraries here
# import nump# Import libraries here
# import numpy as np
# from sklearn import linear_model
import pandas as pd
import matplotlib
matplotlib.use('Agg')
import matplotlib.pyplot as plt

# [Example] Read datasets
train = pd.read_csv("wine_train.csv")
test = pd.read_csv("wine_test.csv")
test_x = test.drop(['id','quality'], axis = 1)
train_x = train.drop('quality', axis=1)
train_y = train['quality']




from sklearn.ensemble import RandomForestClassifier 
model_k = RandomForestClassifier(random_state=100, n_estimators=300 ,criterion= 'gini', max_depth = 19)
model_k.fit(train_x , train_y)
pred_class = model_k.predict(test_x)
p = list(pred_class)
q = []
for i in range(0,len(p)):
    if p[i]< 6 :
        q.append('bad')
    elif p[i] == 6 :
        q.append('normal')
    else:
        q.append('good')
        
# Write output file
# Assuming iris_pred is DataFrame in the required output format
iris_pred = pd.DataFrame()
iris_pred['id'] = test['id']
iris_pred['taste'] = q
#iris_pred.to_csv("/code/iris_prediction.csv")

In [128]:
test_y = pd.read_csv('wine_actual.csv')
test_y =test_y.drop(['id'], axis = 1)

In [131]:
param_grid = { 
    'n_estimators': [100,200] ,
    'max_depth' : list(range(1,30)) ,
    'criterion' :['gini','entropy']
}
from sklearn.metrics import f1_score
from sklearn.metrics import make_scorer

f1_scorer = make_scorer(f1_score, pos_label="yes")
base_estimator = RandomForestClassifier( )
cv_model_rf = GridSearchCV(base_estimator , param_grid = param_grid ,cv =10,scoring= 'accuracy')
cv_model_rf.fit(train_x , train_y)
cv_model_rf.best_params_

C:\Users\Administrator\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:605: Warning: The least populated class in y has only 4 members, which is too few. The minimum number of members in any class cannot be less than n_splits=10.
  % (min_groups, self.n_splits)), Warning)

{'criterion': 'entropy', 'max_depth': 16, 'n_estimators': 100}

In [129]:
from sklearn.metrics import accuracy_score , classification_report, confusion_matrix

In [130]:
accuracy_score(test_y , iris_pred['taste'])

0.722

In [72]:
test_x.shape

(1000, 11)