In [2]:
import numpy as np
import pandas as pd

In [3]:
samples=list(range(5))
print(samples)

wgt_sample=np.random.choice(samples, size=100, p=[0.8,0.05,0.05,0.05,0.05])
pd.Series(wgt_sample).value_counts()/len(wgt_sample)

[0, 1, 2, 3, 4]

0    0.76
1    0.08
3    0.07
2    0.05
4    0.04
dtype: float64

In [4]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [5]:
bank=pd.read_csv("D:/dataset/bank-full.csv",sep=';')
bank.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [6]:
bank_dummies=pd.get_dummies(bank.drop('y',axis=1))
bank_dummies['y']=bank['y']

In [11]:
train, test = train_test_split(bank_dummies,
                              test_size = 0.3,
                              random_state = 100)

train_x = train.drop('y', axis = 1)
train_y = train['y']

test_x = test.drop('y', axis = 1)
test_y = test['y']

predictions=[]
for i in range(300):

    # Random Pick Row
    samples_dt1 = train_x.sample(1029, replace = True)
    samples_dt1.shape

    # Randomly picks the columns
    all_columns = pd.Series(train_x.columns)
    ncols = int(np.sqrt(len(all_columns)))
    #print(ncols)
    random_columns = all_columns.sample(ncols).values
    random_columns

    samples_dt1 = samples_dt1[random_columns]
    samples_dt1

    # we will not use max_depth as we want the random forest to grow completely. althought it would be biased still we will be using it
    model = DecisionTreeClassifier()
    model.fit(samples_dt1, train_y.loc[samples_dt1.index])
    pred = model.predict([test_x.iloc[0][random_columns]])[0]
    predictions.append(pred)
    #print(pred)
pd.Series(predictions).value_counts()

no     293
yes      7
dtype: int64

## Error rate for a single classifier using traning data

In [12]:
model_dt= DecisionTreeClassifier(max_depth=3)
model_dt.fit(train_x,train_y)
pred=model_dt.predict(train_x)
wrong_predictions=(pred!=train_y).sum()
total_predictions=train_x.shape[0]
wrong_predictions,total_predictions
error_rate=wrong_predictions/total_predictions
error_rate

0.09751319240370335

## classifier's weight(alpha T)

In [14]:
#error_rate= 0.8

alpha_t=0.5*np.log((1- zuu berror_rate)/ error_rate)
alpha_t

1.1125831984615204

In [10]:
alpha_ts=[]
ets=np.linspace(0,1,10)
for et in ets:
    alpha_t=0.5*np.log((1-et)/et)
    alpha_ts.append(alpha_t)
import matplotlib.pyplot as plt
plt.bar(ets,alpha_ts)
plt.xlabel('error rate')
plt.ylabel("classifier weight")

C:\Users\Administrator\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: RuntimeWarning: divide by zero encountered in double_scalars
  after removing the cwd from sys.path.
C:\Users\Administrator\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: RuntimeWarning: divide by zero encountered in log
  after removing the cwd from sys.path.

Text(0,0.5,'classifier weight')